#navbar{
    height: 60px;
    width: 97%;
    border: 1px solid rgba(246, 239, 239, 0.786);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#navbar>div:nth-child(1)
{
  width: 130px;
  height: 40px;
 
}
#navbar>div:nth-child(2)
{
    
}
#ext{
    width:72%;
    height: auto;
    margin: auto;
    
    display: flex;
}
#show{
    width:60%;
    
    
}
#amount{
    width:40%;
    margin-top: 60px;
  margin-left: 40px;
  border: 1px solid gray;

}
#plan{
    border: 1px solid grey;
   
}
#plan>img{
  width: 80px;
  height: 30px;
  padding: 10px;
}
#plan>h3{
    color: rgb(76, 184, 166); margin-top: -10px;
    margin-left: 10px;
}
#plan>h5{
    margin-top: -10px;
    margin-left: 10px;
}
#plan>p{
    font-size: 14px;margin-top: -15px;
    margin-left: 10px;
}
#plan>button{
    width: 160px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
#check{
   
    border: 1px solid grey;
    margin-top: 30px;
   
}
#tick{
    display: inline;
    margin-top: 30px;
   
}
 #same{
    
    margin-top: -10px;
    margin-left: 10px;
   display: flex;
}
#amount1{
   
    border: 1px solid gray;
   margin-top: 60px;
   
}
#amount>div{
    width: 100%;
}
#amount>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#amount>div>div>p{
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
}
#location{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
   
   
}
#checkout{
    width: 100%;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    
   
}
#cont>div{
    border:1px solid gray;
}
#cont>p{
    margin-top: -15px;
}
 #adv{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 320px;
    gap:40px;
    margin-top: 30px;
} 
#adv>div{
    border: 1px solid gray;
}
#adv>div>div{
    width: 100px;
    height: 100px;
    margin: auto;
} 
#adv>div>div>img{
    width: 100%;
    height: 100%;
}
#adv>div>h4,p{
    text-align: center;
} 
