* {
    margin : 0px;
    padding: 0px;
  }
  #home_bar{
    display: flex;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 100px; 
    font-family: sans-serif;
  } 
  #homebar_2{
    text-decoration: none;
  }
  #slash{
    padding: 0px 10px 0px 10px;
  }
  #category_name{
    margin-left: 97px;
    margin-top: 50px;
    margin-bottom: -20px;
    font-family: sans-serif;
  }
  #bag {
    display: flex;
    width : 90%;
    margin : auto;
    font-family: sans-serif;
   
  }
  #container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px ;
    width : 80%;
    margin-right: 50px;
    margin-top: 100px;
  }
  .brandss{
    color: rgb(8, 8, 8);
  }
  .name2{
      font-size: 15px;
      color: rgb(95, 95, 97);
      margin-bottom: 5px;
  }
  #ra-one{
    display: flex;
    justify-content: space-between;
    width: 87%;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: -100px;
    margin-top: 50px;
    font-family: sans-serif;
  }
  #sortPrice1{
    margin-bottom: 50px;
  }
  #sortPrice{
    padding: 8px;
    margin-bottom: 20px;
  }
  img {
      height : 70%;
      width : 100%;
      text-align: center;
  }
  #ra {
    width : 20%;
    margin-right: 20px;
    margin-top: 100px;
    margin-left: 20px;
  }
  #filter{
      margin-bottom: 20px;
      color: grey;
  }
 #filterVenue{
   font-size: 18px;
    width : 70%;
   
    background-color: gray;
    color : white ;
    padding: 10px;
    
  }
  #Venue{
    
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color:gray;
    color : white ;
    padding: 10px;
  
  }
 #Va {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
    
  }
 #Vb {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vc{
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color:gray;
    color : white ;
    padding: 10px;
  }
  #Vd {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vf {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vg {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vh {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #Vi {
    font-size: 18px;
    width : 70%;
    margin-top: 50px;
    background-color: gray;
    color : white ;
    padding: 10px;
  }
  #container button{
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
    color: #ff6f61;
    cursor: pointer;
}
.product_img2{
  display: flex;
  width: 100px;
  height: 150px;
  margin: auto;
}
.box_class{
  width: 250px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
}
.parent_class{
  display: flex;
}
.child_class{
  display: flex;
}
.div111{
  display: flex;
  justify-content: space-between;
  /* border: 1PX solid blue; */
  align-items: center;
  margin-top: -5px;
}

.div6{
  display: flex;
  /* border: 1px solid red; */
  gap: 10px;
  padding: 5px;
  margin-left: -3px;
}
.div63{
  display: flex;
  color: grey;
}
.div61{
  display: flex;
  gap: 5px;
  color: grey;
}
.rupees_paisa{
  text-decoration: line-through;
}
.fashion_offer{
  color: #1aab2a;
  font-size: 14px;
}
.rupees1{
  font-size: 15px;
}
.add_button2{
  color: #ff6f61;
}
.divrating{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}
.divrating1{
  display: flex;
  background-color: #1aab2a;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px 4px;
  gap: 2px;
  border-radius: 2px;
}
.star{
  margin-bottom: 3px;
  font-size: 15px;
}
.rating{
  color:rgb(95, 95, 97);
}


/*<!--------------------------------navbar----------->*/

/*-----------fotter-----------------------------------------------------------*\

